<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID_Number %>
    <%= form.number_field :ID_Number, id: :student_ID_Number %>
  </div>

  <div class="field">
    <%= form.label :First_Name %>
    <%= form.text_field :First_Name, id: :student_First_Name %>
  </div>

  <div class="field">
    <%= form.label :Last_Name %>
    <%= form.text_field :Last_Name, id: :student_Last_Name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
