<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :section_number %>
    <%= form.number_field :section_number, id: :section_section_number %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.select(:professor_id, options_from_collection_for_select(Professor.all, :id, :professor_name)) %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select(:course_id, options_from_collection_for_select(Course.all, :id, :course_name)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
