<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<%=form_tag(search_sections_path, method: "get") do %>
  <%= label_tag(:q, "Search for:")%>
  <%= text_field_tag(:q)%>
  <%= submit_tag("Search")%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Section number</th>
      <th>Professor</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.section_number %></td>
        <td><%= section.professor.professor_name %></td>
        <td><%= section.course.course_name %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
