<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @section.section_number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.professor_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course.course_name %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
