<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<%=form_tag(search_professors_path, method: "get") do %>
  <%= label_tag(:q, "Search for:")%>
  <%= text_field_tag(:q)%>
  <%= submit_tag("Search")%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Professor name</th>
      <th>Professor sections</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.professor_name %></td>
        <td><%= professor.professor_sections %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
