<p id="notice"><%= notice %></p>

<p>
  <strong>Professor name:</strong>
  <%= @professor.professor_name %>
</p>

<p>
  <strong>Professor sections:</strong>
  <%= @professor.professor_sections %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
