<%= form_with(model: enrollment, local: true) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select(:student_id, options_from_collection_for_select(Student.all, :id, :ID_Number)) %>
  </div>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.select(:section_id, options_from_collection_for_select(Section.all, :id, :section_number)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
